/*DEVELOPER: Yumery De la Cruz, IS117-003, Fall 2022*/

.bg-mine{
    background-color: #61557f!important;
}
a.bg-mine:focus, a.bg-mine:hover, button.bg-mine:focus, button.bg-mine:hover {
    background-color: #805477 !important;
}
/*Base structure*/
html,
body {
    height: 100%;
    background-color: #61557f;
}

/* Bowrroed CSS */
.contact{
    text-align: center;
}
.contact .info-box {
    color: #2d405f;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;
}

.contact .info-box i {
    font-size: 32px;
    color: #3b4ef8;
    padding: 8px;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
}

.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}


@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*Icons*/

i{
    max-width: fit-content;
}


