/*DEVELOPER: Yumery De la Cruz, IS117-003, Fall 2022*/

.bg-mine{
    background-color: #61557f!important;
}
a.bg-mine:focus, a.bg-mine:hover, button.bg-mine:focus, button.bg-mine:hover {
    background-color: #805477 !important;
}
/*Base structure*/
html,
body {
    height: 100%;
    background-color: #61557f;
}
.cover-container {
    max-width: 42em;
}

/*Header*/
.masthead {
    margin-bottom: 2rem;
}
.masthead-brand {
    margin-bottom: 0;
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}
.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}
@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

/*Cover*/
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}
/*Image*/
img{
    position: relative;
    display: inline-block;
    padding: 20px 0 30px 0;
}