.bg-mine{
    background-color: #61557f!important;
}
a.bg-mine:focus, a.bg-mine:hover, button.bg-mine:focus, button.bg-mine:hover{
    background-color: #805477!important;
}
/*Cover*/
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}